<section id="cart" class="cart-container">
    <div class="cart">
      <h3>Your shopping bag</h3>
      <div class="shopping-cart-container">
        <article>
          <img src="" alt="">
          <div class="content-container">
            <p class="brand"></p>
            
          </div>
        </article>
      </div>

    </div>
</section>