<section id="cart" class="cart-container">
    <div class="cart">
      <h2 id="cartTitle" class="py-500">Your shopping bag</h2>
      <div class="shopping-cart-container" id="cartItemContainer">
        
      </div>
      <div class="price-container py-700" id="priceContainer">
      </div>
      <div class="cart-action-container">
          <a href="https://hypevintage-aalborg.myshopify.com/checkouts/c/dea5426794c26f3e4e115786b878d572/information" class="btn btn-active opacity" id="proceedChoppingCart">Proceed to checkout</a>
          <button id="closeCartBtn" class="btn">Keep exploring products</button>
      </div>
</section>