<div class="faq-container">
            <article class="faq py-300" data-faq="6">
                <div class="question" data-open="false" data-faq="6">
                    <h5>Additional sizing information</h5>
                    <span class="material-symbols-outlined arrow"  data-faq="6">
                        expand_more
                    </span>
                </div>
                <div class="answer hide" data-faq="6">
                    <p>{{sizing}}</p>
                </div>

            </article>    
            <article class="faq py-300" data-faq="7">
                <div class="question" data-open="false" data-faq="7">
                    <h5>Story of the product</h5>
                    <span class="material-symbols-outlined arrow"  data-faq="7">
                        expand_more
                    </span>
                </div>
                <div class="answer hide" data-faq="7">
                    <p>{{origin_story}}</p>
                </div>
            </article>    
            <article class="faq py-300" data-faq="8" >
                <div class="question" data-open="false" data-faq="8">
                    <h5>Return policy</h5>
                    <span class="material-symbols-outlined arrow" data-faq="8">
                        expand_more
                    </span>
                </div>
                <div class="answer hide" data-faq="8">
                    <p>{{return_policy}}</p>
                    <a href="https://hypevintage-aalborg.myshopify.com/pages/return-policy" class="btn btn-active product-return-btn">Read more about our return policy</a>
                </div>
            </article>    
</div>