<div class="faq-container">
            <article class="faq py-300" data-faq="1">
                <div class="question" >
                    <h5>Additional sizing information</h5>
                    <span class="material-symbols-outlined arrow" data-faq="1" data-open="false">
                        expand_more
                    </span>
                </div>
                <div class="answer hide" data-faq="1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

            </article>    
            <article class="faq py-300" data-faq="2">
                <div class="question" >
                    <h5>Story of the product</h5>
                    <span class="material-symbols-outlined arrow" data-faq="2" data-open="false">
                        expand_more
                    </span>
                </div>
                <div class="answer hide" data-faq="2">
                    <p>{{origin_story}}</p>
                </div>
            </article>    
            <article class="faq py-300" data-faq="3">
                <div class="question" >
                    <h5>Return policy</h5>
                    <span class="material-symbols-outlined arrow" data-faq="3" data-open="false">
                        expand_more
                    </span>
                </div>
                <div class="answer hide" data-faq="3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </article>    
</div>