<section id="searchContainer" class="search-container" data-width="max">
    <input id="searchInputField" class="search-input-field py-500" type="text" placeholder="Search for products...">
    <div class="search">
      <div class="search-results-container" id="searchItemContainer">
        
      </div>
    </div>
</section>