
      <select  name="sorting" id="sort_by" class="form-select form-select-sm w-25 btn">
        {% for option in collection.sort_options %}
          <option value="{{ option.value }}"
            {% if option.value == collection.sort_by %}
              selected
            {% endif %}
          >{{option.name}}</option>
        {% endfor %}
      </select>
