{% comment %}
    reset filters
                <div class="filter-group-display__header">
              <span class="filter-group-display__header-selected">{{ filter.active_values.size }} selected</span>
    
              {%- if filter.active_values.size > 0 -%}
                <a href="{{ filter.url_to_remove }}" class="filter-group-display__header-reset">Reset</a>
              {%- endif -%}
            </div>
{% endcomment %}


<script>
  if(document.querySelector('#filterContainer')) {
    

    const form = Vue.reactive({
      form: document.querySelector('#filterForm'),
    });
    
   

    const ProductsOptions = {
      delimiters: ['${', '}'],
      

      methods: {
        filterUpdated() {

          form.form = document.querySelector('#filterForm')
          const queryString = new URLSearchParams(new FormData(form.form)).toString();

          fetch('/collections/{{ collection.handle }}?' + queryString)
          .then(res => res.text())
          .then(data => {
            
            let html_div = document.createElement('div');
            html_div.innerHTML = data;
            let html_dom = html_div.querySelector('#productsContainer').innerHTML;
            document.querySelector('#productsContainer').innerHTML = html_dom;

            window.history.pushState(null, null, '?' + queryString)
          })
        }
      }
     
    }
    
    const ProductsPage = Vue.createApp(ProductsOptions).mount('#filterContainer')
  }
</script>