{% comment %}
    reset filters
                <div class="filter-group-display__header">
              <span class="filter-group-display__header-selected">{{ filter.active_values.size }} selected</span>
    
              {%- if filter.active_values.size > 0 -%}
                <a href="{{ filter.url_to_remove }}" class="filter-group-display__header-reset">Reset</a>
              {%- endif -%}
            </div>
{% endcomment %}
