<section class="term-section py-500" data-width="less">
    <h2 class="py-400">Terms and Condition</h2>
    
    <article class="return-delivery-article border-bottom py-500">
        <div class="term-title term-question" data-term="1" data-open="false">
            <h3 class="return-delivery-title py-300" data-term="1">
                {% render 'complain' %}
                {{section.settings.complain_title}}
            </h3>
            <span class="material-symbols-outlined term-arrow arrow" data-open="false" data-term="1">
                expand_less
            </span>
        </div>
        <div class="term-content hide" data-term="1">
            <h4 class="return-delivery-subtitle">1.1{{section.settings.complain_subtitle}}</h4>
    
            {% for block in section.blocks %}
                <p class="py-100" >{{block.settings.complain_body}}</p>
            {% endfor %}

        </div>
    </article>

</section>

{% schema %}
    {
        "name": "Complain",
        "class": "complain-section",
        "settings": [
            {
                "type": "text",
                "id": "complain_title",
                "default": "Example Heading",
                "label": "How you can complain title"
            },
            {
                "type": "text",
                "id": "complain_subtitle",
                "default": "Example Heading",
                "label": "How you can complain subtitle"
            },
            {
                "type": "richtext",
                "id": "complain_description",
                "default": "<p>Example Paragraph</p>",
                "label": "How you can complain description"
            }
        ],
        "blocks": [
            {
                "name": "Complain paragraphs",
                "type": "text",
                "settings": [
                    {
                        "type": "richtext",
                        "id": "complain_body",
                        "label": "Complain paragraphs"
                    }
                ]
            }
        ],
        "presets": [
        {
          "name": "Complain",
          "blocks": [
            {
              "type": "text"
            }
          ]
        }
      ]
    }
  {% endschema %}