<nav class="nav-wrapper">
  <nav class="mobile-nav" id="header">
  <div>
    <div class="mobile-nav_icon--container hamburger-icon-contaner">
      <span id="hamburgerIcon" class="nav-icon">
        {% render 'menuIcon' %}
      </span>
    </div>
    <h1>{% render 'hypevintage-logo' %}</h1>

    {%- comment -%}
    Cart
    {%- endcomment -%}
  <nav class="cart-search-container">
      <ul>
        <li class="mobile-nav_icon--container search-icon-contaner" data-search="true">
            <span id="searchIcon" class="nav-icon">
                {% render 'search-icon' %}
            </span>
        </li>
        <li class="mobile-nav_icon--container bag-icon-contaner" data-cart="true">
            <span id="cartIcon" class="nav-icon">
                {% render 'ic-shopping-bag' %}
            </span>
              <span id="numberOfCartItems" class="opacity">0</span>
        </li>
      </ul>
    </nav>
  </div>
</nav>
</nav>
{% render 'hamburger-menu' %}
{% render 'cart' %}
{% render 'search' %}





{% schema %}
  {
      "name": "Nav",
      "class": "nav-section",
      "settings": [
          {
              "type": "text",
              "id": "title",
              "default": "Example Heading",
              "label": "Heading Title"
          }
      ],

      "presets": [
          {
              "category": "Nav",
              "name": "Navbar"
          }
      ]
  }
{% endschema %}

