<nav class="mobile-nav py-200">
  <div>
    <span id="hamburgerIcon" class="material-symbols-outlined" data-icon="true">
      menu
    </span>

    <h1 class="px-2">Hypevintage</h1>

    {%- comment -%}
    Cart
    {%- endcomment -%}
  <nav>
      <ul>
        <li>
          <a href="/cart">
            <span class="material-symbols-outlined" data-icon="true">shopping_bag</span>
            {%- comment -%}
              Numbering how many items the cart has
              <span id="numberOfCartItems" class="badge bg-danger rounded-pill">0</span>
            {%- endcomment -%}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</nav>
{% render 'hamburger-menu' %}