<section>
    <div>
        <h1>{{ section.settings.title }}</h1>
        {{ section.settings.description }}
    </div>
</section>

{% schema %}
{
    "name": "Hero",
    "class": "hero-section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Title of the page",
            "label": "Heading Title"
        },
        {
            "type": "richtext",
            "id": "description",
            "default": "<p>Small introduction of the page</p>",
            "label": "Heading Description"
        }
    ],

    "presets": [
        {
            "category": "Hero",
            "name": "Simple Hero"
        }
    ]
}
{% endschema %}