<section data-width="less">
    
</section>

{% schema %}
    {   "name":  "Instagram feed",
        "settings": [
            "flockler": {
                "type": "flockler"
            }
        ]
    }
{% endschema %}