/* CSS variables */
:root {

    /* Site width */
    --site-width: 90%;

    /* Icon size */
    --icon-size: 1;

    /* Font family */
    --font-family: "Roboto", Times, serif;

    /* Font sizes */
    --fs-50: .8vw;
    --fs-100: 1vw;
    --fs-150: 2vw;
    --fs-200: 3.5vw;
    --fs-300: 6vw;
    --fs-400: 7vw;
    --fs-500: 9vw;
    --fs-600: 11vw;
    --fs-700: 15vw;

    /* Font weight */
    --fw-100: 100;
    --fw-300: 300;
    --fw-600: 600;
    --fw-900: 900;
    --fw-bold: bold;
    --fw-bolder: bolder;
    --fw-lighter: lighter;


    /* Sizes */
    --s-50: .5vw;
    --s-100: 1vw;
    --s-200: 2vw;
    --s-300: 3vw;
    --s-400: 4vw;
    --s-500: 5vw;
    --s-600: 6vw;
    --s-700: 7vw;
    --s-1000: 10vw;

    /* Colors */
    --black: black;
    --secondary: #484B54;
    --main: #FBF7F5;
}


 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: var(--font-family);
}

body {
    background: var(--main);
}

main {
    margin: 0 auto;
    width: var(--site-width);
}


nav {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--secondary);
    font-size: var(--fs-200);
}

li {
    list-style: none;
    text-decoration: none;
}

span[data-icon="true"] {
    scale: var(--icon-size);
    color: var(--black);
}

h1 {
    font-size: var(--fs-200);
    font-weight: var(--fw-bolder);
}

h2 {
    font-size: var(--fs-400);
    font-weight: var(--fw-600);
}

h3 {
    font-size: var(--fs-300);
    font-weight: var(--fw-500);
}

h4 {
    font-size: var(--fs-600);
    font-weight: var(--fw-100);
}

h5 {
    font-size: var(--fs-500);
    font-weight: var(--fw-100);
}
p {
    font-size: var(--fs-200);
    font-weight: var(--fw-100);
    color: var(--secondary);
}

@media (min-width: 600px) {
    body {
      background-color: olive;
    }
}



/* Utilities classes */
/* Paddings Y */
.py-50 {
    padding: var(--s-50) 0;
}

.py-100 {
    padding: var(--s-100) 0;
}

.py-200 {
    padding: var(--s-200) 0;
}

.py-300 {
    padding: var(--s-300) 0;
}

.py-400 {
    padding: var(--s-400) 0;
}

.py-500 {
    padding: var(--s-500) 0;
}

.py-600 {
    padding: var(--s-600) 0;
}

.py-700 {
    padding: var(--s-700) 0;
}

.py-800 {
    padding: var(--s-800) 0;
}
.py-1000 {
    padding: var(--s-1000) 0;
}

/* Paddings X */
.px-50 {
    padding: var(--s-50) 0;
}

.px-100 {
    padding: var(--s-100) 0;
}

.px-200 {
    padding: var(--s-200) 0;
}

.px-300 {
    padding: var(--s-300) 0;
}

.px-400 {
    padding: var(--s-400) 0;
}

.px-500 {
    padding: var(--s-500) 0;
}

.px-600 {
    padding: var(--s-600) 0;
}

.px-700 {
    padding: var(--s-700) 0;
}

.px-800 {
    padding: var(--s-800) 0;
}

/* Paddings Bottom */
.pb-100 {
    padding-bottom: var(--s-100);
}

.pb-200 {
    padding-bottom: var(--s-200);
}

.pb-300 {
    padding-bottom: var(--s-300);
}

.pb-700 {
    padding-bottom: var(--s-700);
}

/* Margin X */
.mx-50 {
    padding: var(--s-50) 0;
}

.mx-100 {
    padding: 0 var(--s-100);
}

.mx-200 {
    padding: 0 var(--s-200);
}

.mx-300 {
    padding: 0 var(--s-300);
}

.mx-400 {
    padding: 0 var(--s-400);
}

.mx-500 {
    padding: 0 var(--s-500);
}

.mx-600 {
    padding: 0 var(--s-600);
}

.mx-700 {
    padding: 0 var(--s-700);
}

.mx-800 {
    padding: 0 var(--s-800);
}