
nav {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

.navbar-nav {
    flex-direction: row;
    gap: 2vw;
}

#filterForm {
    display: flex;
    flex-direction: column;
    margin-bottom: .5vw;
}
