.cart-container {
    display: block;
    transform: translateX(100vw);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: var(--main);
    overflow: scroll;
}

.cart {
    width: var(--site-width);
    margin: 0 auto;
}

.cart h2 {
    font-weight: bold;
    font-size: 1rem;
}

.open-cart {
    transition: all 250ms ease-in;
    transform: translateX(0vw);
}

.close-cart {
    transition: all 250ms ease-in;
    transform: translateX(100vw);
}

.cart-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2vw;
}

.cart-content-container {
    display: flex;
    flex-direction: column;
    gap: 4vw;
}

.cart-item-remove {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}
.cart-item-remove p {
    font-size: 1rem;
    font-weight: 400;
    color: #9397A2;
}

.cart-content {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.cart-content h4 {
    font-size: .9rem;
    font-weight: 700;
}
.cart-content h5 {
    font-size: .9rem;
    font-weight: 800;
}
.cart-content p {
    font-size: .7rem;
}

.cart-item img {
    width: 30vw;
    object-fit: cover;
    aspect-ratio: 1 /1;
    align-self: center;
}

.subtotal-container {
    border-bottom: .5px solid var(--border);
    display: flex;
    flex-direction: column;
    gap: 3vw;
    padding-bottom: 3vw;
    margin-bottom: 3vw;
}

.subtotal-container div {
    display: flex;
    justify-content: space-between;
}

.subtotal-container h6 {
    font-weight: 300;
}

.total-container div {
    display: flex;
    justify-content: space-between;
}

.total-container h5 {
    font-weight: 600;
    font-size: 1rem;
}


.total-container p {
    font-weight: 600;
}

.cart-action-container {
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.mobile-nav_icon--container {
    position: relative;
}

#numberOfCartItems {
    position: absolute;
    top: 10%;
    right: -15%;
    background-color: black;
    border-radius: 50%;
    color: white;
    text-align: center;
    padding: 0vw 1vw;
    border: 1px solid white;
}

.change-cart-item {
    animation: grow 250ms alternate-reverse;
}

@keyframes grow {
    from {
        scale: 1;
    } to {
        scale: 1.3;
    }
}

.cart-item {
    transition: all 250ms ease-out;
}

.remove-cart-item {
    transform: translateX(100vw);
}