
.featured-header {
    width: var(--site-width);
    margin: 0 auto;
}
.featured-collection-header {
    display: flex;
    justify-content: space-between;
    justify-items: baseline;
}
.featured-collection-header h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

.featured-collection-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: scroll;
    padding: 8vw;
    gap: 8vw;
    /* width: 100%;
    margin-left: 5%; */

}


.product-container {
    position: relative;
    height: 50vw;
}

.product-container .icon {
    position: absolute;
    top: 2%;
    right: 5%;
}

.product-container .featured-collection-img {
    object-fit: fill;
    aspect-ratio: 1;
    width: 50vw;
}

.featured-collection-header a {
    display: flex;
    flex-direction: row;
    justify-items: baseline;
    text-align: center;
    align-items: center;
}