#mobileCategory {
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
}
#mobileCategory p {
    color: black;
    width: var(--site-width);
    margin: 0 auto;
}

.mobile-categories-container {
    overflow: scroll;
    width: var(--site-width);
    margin: 0 auto;
}
.category {
    margin-right: 5vw;
    display: flex;
    flex: row;
    border: 1px solid var(--black);
    border-radius: 100vw;
    align-items: center;
    padding: 0;
    width: 30vw;
    height: 8.5vw;
}

.active-category {
    transition: all 350ms ease-in-out;
    width: 100vw;
}
.reset-category {
    transition: all 350ms ease-in-out;
    width: 30vw;
}

.sub-category {
    display: flex;
    flex: row;
    padding: 2vw;
    gap: 4vw;
}

.main-category {
    border-radius: 100vw;
    padding: 2vw 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: baseline;
    gap: 2vw;
}
.main-category .category-icon {
    color: var(--black);
    background: white;
    border-radius: 50%;
    scale: 1.2;
}

.active-main {
    background: var(--black);
    color: white;
    border: 1px solid white;
}

