/* Mobile navigation */
.mobile-nav {
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    width: 100vw;
    background: var(--main);
    z-index: 120;
    position: fixed;
}

.mobile-nav > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav-wrapper {
    height: 60px;
}

/* Header Icon */
.cart-search-container {
    height: 100%;
}

.cart-search-container ul {
    display: flex;
    flex-direction: row;
}

.mobile-nav div h1 {
    text-align: center;
    align-self: center;
    text-transform: uppercase;
}

.hamburger-icon-contaner {
    border-right: 1px solid var(--black);
    padding: 16px;

    
}
.bag-icon-contaner {
    border-left: 1px solid var(--black);
    padding: 16px;
}

 .search-icon-contaner {
    border-left: 1px solid var(--black);
    padding: 16px;
}




.hamburger-menu {
    display: block;
    transform: translateX(-150vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 150;
    background-color: var(--main);
    box-shadow: 0px 50px 100px 100px rgb(56, 55, 55);
    margin: 0 auto;
    overflow: scroll;
}
.sub-nav, .main-nav, .menu-title-container, .subnav-container {
    width: 90%;
    margin-left: 0 auto;
}

.subnav-ul {
    margin-top: 2vw;
    border-bottom: 1px solid var(--border);
}


.menu-title-container {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid var(--border); */
}

.main-nav li {
    border-bottom: 1px solid var(--border);
    padding: 16px 0 16px 0;
}
.main-nav li:first-child {
    border-top: 1px solid var(--border);
}
.category-title {
    font-size: 1rem;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid var(--border);
    
}

.nav-title {
    font-size: 1rem;
    color: var(--black);
 }

 .subnav-container {
    cursor: pointer;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

.sub-sub-nav {
    margin-left: 5vw;
    margin-top: 16px;
}

.sub-nav {
    margin-top: 30px;
}

.menu-arrow  {
    
    transition: all 250ms ease-in-out;
}
.active-arrow-menu .menu-arrow {
    transform: rotate(180deg);
}

.active-subnav-title {
    transition: all 250ms ease-in-out;
    font-weight: bold;
}

.opened{
    transition: all 250ms ease-in;
    transform: translateX(0vw);
 }

 .hero-img {
    width: 100vw !important;
    object-fit: fill;
 }

 .hero-content-container {
    width: 90%;
    margin: 0 auto;
 }
