/* Mobile navigation */
.mobile-nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 5vw;
    width: 100vw;
    background: var(--main);
    z-index: 120;
    position: fixed;
    margin-bottom: 10vw;
}

.nav-wrapper {
    padding-bottom: 10vw;
}


.mobile-nav > div {
    width: var(--site-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
}

/* Header Icon */


.mobile-nav div h1 {
    text-align: center;
    align-self: center;
    text-transform: uppercase;
}

.hamburger-icon-contaner {
    height: 100%;
    border-right: 1px solid black;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-right: 2vw;
    
}
.bag-icon-contaner {
    height: 100%;
    border-left: 1px solid black;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
}


.hamburger-menu {
    display: block;
    transform: translateX(-150vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 150;
    background-color: var(--main);
    box-shadow: 0px 50px 100px 100px rgb(56, 55, 55);
    margin: 0 auto;
    overflow: scroll;
}
.sub-nav, .main-nav, .menu-title-container, .subnav-container {
    width: 90%;
    margin-left: 0 auto;
}

.subnav-ul {
    margin-top: 2vw;
    border-bottom: 1px solid var(--border);
}


.menu-title-container {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid var(--border); */
}

.main-nav li {
    border-bottom: 1px solid var(--border);
}
.main-nav li:first-child {
    border-top: 1px solid var(--border);
}
.category-title {
    font-size: 1rem;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid var(--border);
    
}

.nav-title {

    font-size: 1rem;
    color: black;
 }

 .subnav-container {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

.sub-sub-nav {
    margin-left: 5vw;
}

.active-subnav-title {
    transition: all 250ms ease-in-out;
    font-weight: bold;
}

.opened{
    transition: all 250ms ease-in;
    transform: translateX(0vw);
 }

 .hero-img {
    width: 100vw !important;
    object-fit: fill;
 }

 .hero-content-container {
    width: 90%;
    margin: 0 auto;
 }

 