#slideShow {
    background: var(--black);
    border-left: 50%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    padding-bottom: 5vw;
}

.slideshow-container{
    width: 90%;
    margin: 0 auto;
}


.slide-container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.slide-container h3 {
    color: white;
}

.slide {
    position: relative;
    margin-right: 5vw;
}

.slide::before {
    content: "";
    inset: 0;
    position: absolute;
    width: 100%;
    background: linear-gradient( white, black);
    opacity: .8;
}

.slide-img {
    height: 90vw;

    width: 65vw;
    object-fit:fill;
    aspect-ratio: 1 /1;
    z-index: -1;
}

.slide-content-container {
    position: absolute;
    bottom: 0%;
    padding: 4vw;
}

.slide-content-container h5 {
    font-size: 1rem;
    font: 400;
    color: white;
}
.slide-content-container p {
    color: #C9CBD2;
    margin-top: 2vw;
}

.tab-title-container {
    background-color: white;
    border-radius: 100vw;
    color: var(--black);
    display: flex;
    text-align: center;
    justify-content: space-around;
}



.active-slide {
    padding: 0vw 5vw;
    background: var(--black);
    border-radius: 100vw;
    color: white;
}

.tab {
    position: relative;
    font-size: 0.875rem;
}

.slider-title {
    font-size: 1.125rem;
    color: white;
}
.slider-title span {
    font-size: 1.125rem;
    color: #AEB1BA;
}
