#slideShow {
    background: var(--black);
    border-left: 50%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    padding-bottom: 5vw;
}
.slideshow-container > * {
    color: white;
    width: var(--site-width);
    margin: 0 auto;
}

.slides-container {
    display: flex;
    /* overflow: hidden; */
}
.slide-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: scroll;
}

.slide {
    position: relative;
    transition: all 350ms ease-in-out;
}

.slide-img {
    position: relative;
    width: 90vw;
    height: 100vw;
    object-fit: cover;
    aspect-ratio: 1 /1;
    z-index: 1;
}

.slide-img::before {
    content: "";
    inset: 0;
    position: absolute;
    width: 100%;
    background: linear-gradient( white, black);
    opacity: .8;
    z-index: 100;
}
.slide .slide-content-container {
    position: absolute;
    bottom: 0;
    z-index: 100;
    padding: 2vw 4vw;
}

.tab-title-container {
    background-color: white;
    border-radius: 100vw;
    color: var(--black);
    position: flex;
    gap: 5vw;
    text-align: center;
}

.active-slide {
    color: white;
    background: var(--black);
    border-radius: 100vw;
    padding: 0 2vw;
}
